*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
}

header{
    background: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left:  10px;
    padding-right: 10px;
    height: 15vh;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0);

}
.logo{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;

}
.search-box{
    padding:  4%;
    border-radius: 1%;
    border: 1px solid #ccc;
}
.sidebar {
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    
}
.sidebar img{
    width: 100%;
    height: 80vh;
}
.sidebar ul {
    list-style: none;
     width: 20%;
    background-color: #f4f4f4;
    padding: 10px;   
    padding-top: 50px;
}
.sidebar ul li{
    margin-bottom: 15px;
}
main {text-align: center;
    flex: 1;
    padding: 15px;
}
.hero-banner {
    position: relative;
    margin-bottom: 25px;
    justify-content: center;
    text-align: center;
}
.hero-banner img {
    width: 60%;
    height: 60vh;
    object-fit: cover;
    
}
.promo-text {
    position: absolute;
    top: 40%;
    left: 20%;
    color: white;
    text-align: center;
}
.flash-sale .products {
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
}
.timer{
    flex-wrap: wrap;
    gap: 30%;
    margin-bottom: 10px;
}
.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 100px;
    position: relative;

}
.products-card1 img{
    width: 50%;
    height: 40vh;
}
.discount {
    position: relative;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    padding: 2px 6px;
    font-size: 12px;
}

